h1 {
text-transform: uppercase;
letter-spacing: 2px;
font-size: 2rem;
color:white;
text-shadow: 5px 3px 0px rgba(62, 60, 60, 0.769);
text-align: center;

}

header {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    
}

.menu-accueil 
.header_menu { 
    width : 250px;
    height : 150px;


}

.logo { 
    width : 70%;
    height : 70%;


}